{% extends 'base.html.twig' %}

{% block title %}CONTACT US{% endblock %}
{% block body%}
  <!-- contact section -->

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="col-md-6">
        <div class="d-flex mb-4 ml-4 ml-md-0">
          <h2 class="custom_heading text-center">
            CONTACT US
          </h2>
        </div>
        {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
        {{ form_errors(form) }}
          <div>
            {{ form_row(form.firstName, {'attr': {'class':'form-control'}}) }}
          </div>
          <div>
            {{ form_row(form.lastName, {'attr': {'class':'form-control'}}) }}
          </div>
          <div>
            {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
          </div>
          <div>
            {{ form_row(form.subject, {'attr': {'class':'form-control'}}) }}
          </div>
          <div>
            {{ form_row(form.message, {'attr': {'class':'form-control'}}) }}
          </div>
          <div class="d-flex justify-content-center mt-4 ">
            {{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
          </div>
        {{ form_end(form) }}
      </div>
    </div>

  </section>

  <!-- end contact section -->

{% endblock %}